/*.........body.........*/
body{
background-color:aqua;
}

/*.........WRAPPER.........*/
#wrapper{
width:auto;

}

/*.........header.........*/
header{
width:auto;

background-image:url("2.jpg");
}

/*.........navigation bar.........*/
#nav{
width:auto;
height:40px;
background-color:#2f5160;
margin:0;


}

#my2{
display:inline;
float:right;

color:a8adaf;

}

#content{
width:auto;
heigt:500px;
background-color:567898;

}

#contenttext{
margin:0;

}

footer{
background-image:url("3.jpg");
background-position:0-135px;
width:auto;
height:30px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;

}



