body{
	background-color:#87e6cb;
}
/*.........WRAPPER.........*/
#wrapper{
width:auto;

}

/*.........header.........*/
header{
width:auto;
background-image:url("bg1.jpg");
}
/*.........navigation bar.........*/
#nav{
width:auto;
height:40px;
background-color:#18329c;
margin:0;
}